*.iml
*iml
.gradle
/local.properties
.DS_Store
/build
*/build
buildSrc/build
/captures
.externalNativeBuild
/release
/reports
**/*.apk
*.ap_
.idea/
.idea
projectFilesBackup/.idea/workspace.xml
projectFilesBackup1/.idea/workspace.xml
app/release/output.json
**/*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
**/*.directory
*.directory
/watch/release/watch-release.aab
